/* About Section Styles */
#about {
    background-color: #e2e2e2;
    padding: 60px 20px;
    text-align: center;
  }
  
  .intro-text {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #007bff;
  }
  
  #about p {
    font-size: 1.2rem;
    color: #555;
    max-width: 800px;
    margin: auto;
    line-height: 1.8;
  }
  .profile-image {
    width: 150px; 
    height: 150px; 
    border-radius: 50%;
    object-fit: cover; 
    border: 2px solid #ccc; 
    margin-top: 15px; 
  }
/* Image hover effect */
.profile-image {
    transition: transform 0.3s ease; 
  }
  
  .profile-image:hover {
    transform: scale(1.1); 
  }
  