
#skills {
    padding: 40px 20px;
    background-color: #e2e2e2;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
 .skills-title {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 3px solid #ff6347; 
  }
  
  .skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .skill {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 300px; 
  }
  
  .skill:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .skill h3 {
    font-size: 1.5rem;
    color: #ff6347; 
    margin-bottom: 10px;
  }
  
  .skill p {
    color: #555;
    line-height: 1.5;
  }
  